.jobsCard{
    padding: 2rem;
    background-color: var(--White);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(91,164,164,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(91,164,164,0.5);
    box-shadow: 0px 5px 10px 0px rgba(91,164,164,0.5);
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    gap: 1rem;
    border-left: 5px solid transparent;
}
.jobsCard--featured{
    border-left: 5px solid var(--DesaturatedDarkCyan);
}
.jobsCard__status{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.jobsCard__pill{
    padding: 3px 10px;
    background-color: var(--DesaturatedDarkCyan);
    display: inline-block;
    border-radius: 30px;
    color: var(--White);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.jobsCard__pill--dark{
    background-color: var(--VeryDarkGrayishCyan);
}
.jobsCard__company{
    color: var(--DesaturatedDarkCyan);
    font-weight: 700;
    font-size: 20px;
}
.jobsCard__position{
    font-weight: 700;
    font-size: 1.6rem;
    margin: 5px 0;
    color: var(--VeryDarkGrayishCyan);
}
.jobsCard__list{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: var(--DarkGrayishCyan);
    font-weight: 500;
}
.jobsCard__list li:first-child {
    list-style: none;
}
.jobsCard__skills{
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 1rem;
}
.skill{
    background-color: var(--LightGrayishCyan2);
    padding: 10px;
    color: var(--DesaturatedDarkCyan);
    font-weight: 700;
}